<footer>
    @{{ getAnio }}
</footer>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.5/esm/popper.js"></script>
<script src="assets/js/bootstrap.js"></script>
</body>

</html>